name: snack_dispenser_app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  auto_size_text: ^3.0.0
  google_fonts: ^6.3.3
  flutter:
    sdk: flutter
  firebase_core: ^4.3.0
  firebase_database: ^12.1.1
  shared_preferences: ^2.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/logo/S-removebg-preview.png
